body {
  font-family: 'Roboto', sans-serif;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.cta {
  height: 300px;
  min-height: 300px;
}

.features p {
  font-size: 1rem;
}
 
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.number-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: white;
  line-height: 6rem;
  font-size: 4rem;
  margin: auto;
}

.step-image {
  max-height: 200px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .step-image {
    height: 200px;
  }
}

.background-image-column {
  background: url('../img/slack.jpg') no-repeat center center;
  background-size: cover;
}