@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

@import "../../node_modules/aos/src/sass/aos.scss";

$light-shades: #EEF0EC;
$light-accent: #679BBD;
$primary: rgb(13, 109, 253);
$dark-accent: #4A5985;
$dark-shades: #161925;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
/// 
@function tint($color, $percentage) {
  @return mix($light-shades, $color, $percentage);
}

* {
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  border: 1px #eeedec;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.ts-hero {
  padding-top: 4rem;

  padding-bottom: 4rem;

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
  }

  // h1 {}

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    a.btn {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.eyebrow {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: .1em;
  color: rgba(3, 23, 26, .6);
  padding: 1rem 0;
}

.ts-faq {

  h4,
  p {
    font-size: 1.125rem;
  }
}

h1 {
  font-size: 3rem;

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1.5rem;
}

.icon-list {
  img {
    width: 100px;
    height: 100px;
    max-height: 9rem;
    max-width: 9rem;
  }
}

.caption {
  color: gray;
  font-size: .8rem;
}


.ts-bg-primary-100 {
  --ts-bg-opacity: 100;
  background-color: rgba($primary, var(--ts-bg-opacity));
}

.ts-bg-primary-70 {
  --ts-bg-opacity: .7;
  background-color: rgba($primary, var(--ts-bg-opacity));
}

.ts-bg-primary-50 {
  --ts-bg-opacity: .5;
  background-color: rgba($primary, var(--ts-bg-opacity));
}

.ts-bg-primary-10 {
  --ts-bg-opacity: .10;
  background-color: rgba($primary, var(--ts-bg-opacity));
}


.navbar .navbar-brand img {
  height: 30px;
  width: 35px;
}

.navbar .navbar-brand .brand-logo {
  align-items: center;
  display: flex;
}

.icon-wrapper {
  width: 3rem;
  height: 3rem;
  color: $primary;
}

.use-case-feature {
  p {
    font-size: 1.25rem;
  }

}


.pricing {
  .plan-name {
    font-weight: 600;
    padding-bottom: .5rem;
  }

  .plan-description {
    padding-bottom: 1rem;
  }

  .price {
    font-weight: 700;
    padding-right: 0.5rem;


    font-size: 2.25rem;

    @include media-breakpoint-up(lg) {
      font-size: 2.75rem;
    }
  }

  .price-details {
    color: var(--bs-secondary-color);
    font-size: .9rem;
  }

  .card {
    background-color: #fafafb;
    border-radius: 8px;
    box-shadow: rgba(12, 0, 32, 0.08) 0px 0px 0px 1px inset;
    height: 100%
  }

  a.btn,
  btn {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .plan-features-header {
    font-size: 1.5rem;
    font-weight: 700;
  }

  li {
    font-size: 1.1rem;
    padding: .5rem 0;
  }
}

.pricing-features {


  .feature-icon {
    font-size: 2rem;
    color: $primary;
    padding: .5rem 0;
  }

  .feature-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  li {
    color: gray;
    font-size: 1.2rem;
    padding: 5px 0;
  }

  .feature-item {}
}

.stats {
  .card {
    background-color: #fafafb;
    margin-left: 10px;
    margin-right: 10px;
  }

  .stat-number {
    font-size: 3rem;
    font-weight: 700;
  }

  .stat-header {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  .stat-description {
    font-weight: 300;
  }
}








.btn-custom-green {
  background-color: #2ED29B;
  border-color: #2ED29B;
  color: #ffffff;
  /* Ensures text color is white for contrast */
}

.btn-custom-green:hover,
.btn-custom-green:focus {
  background-color: #26c589;
  /* Slightly darker shade for hover state */
  border-color: #24b780;
  color: #ffffff;
  /* Keeps text color white on hover/focus */
}

.btn-custom-green:active {
  background-color: #1db072;
  /* Even darker for the active state */
  border-color: #1aa66b;
  box-shadow: none;
  /* Optional: removes the box-shadow on click */
}

.btn-custom-green.disabled,
.btn-custom-green:disabled {
  background-color: #2ED29B;
  border-color: #2ED29B;
  opacity: 0.65;
  /* Slightly faded look for disabled state */
}

.btn-vibrant-pink {
  background-color: #E84E99;
  color: white;
  /* This makes the text color white for better readability */
  border: none;
  /* Removes the border */
  padding: 10px 20px;
  /* Adds some padding around the text */
  border-radius: 5px;
  /* Rounds the corners of the button */
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
  cursor: pointer;
  /* Changes cursor to pointer on hover */
}

.btn-vibrant-pink:hover,
.btn-vibrant-pink:focus {
  background-color: #cf4370;
  /* Slightly darker shade of pink for the hover state */
}

.btn-vibrant-pink:active {
  background-color: #b73c62;
  /* Even darker shade of pink for the active state */
}

.btn-vibrant-pink:disabled {
  background-color: #E84E99;
  opacity: 0.5;
  /* Makes the button look disabled */
  cursor: not-allowed;
  /* Changes cursor to not-allowed on disabled state */
}

.btn-vibrant-orange {
  background-color: #EB9C20;
  color: white;
  /* This makes the text color white for better readability */
  border: none;
  /* Removes the border */
  padding: 10px 20px;
  /* Adds some padding around the text */
  border-radius: 5px;
  /* Rounds the corners of the button */
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
  cursor: pointer;
  /* Changes cursor to pointer on hover */
}

.btn-vibrant-orange:hover,
.btn-vibrant-orange:focus {
  background-color: #d48a1d;
  /* Slightly darker shade of orange for the hover state */
}

.btn-vibrant-orange:active {
  background-color: #bf7a1a;
  /* Even darker shade of orange for the active state */
}

.btn-vibrant-orange:disabled {
  background-color: #EB9C20;
  opacity: 0.5;
  /* Makes the button look disabled */
  cursor: not-allowed;
  /* Changes cursor to not-allowed on disabled state */
}

.divider {
  width: 100px;

  border: none;
  height: 3px;
  background-color: #EB9C20;
  margin: auto;
}

.btn-xl {
  padding: 1rem 1.50rem;
  font-size: 1.5rem;
}

.featured-in-logos img {
  max-width: 100px;
  /* Adjust size as needed */
  margin: 0 15px;
}

.glow {
  color: $primary;
  text-shadow: rgba($primary, 0.9) 0px 0px 40px;
}

.ts-banner {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1500' height='560' preserveAspectRatio='none' viewBox='0 0 1500 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='1500' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M-91.22 357.81L-91.22 357.81' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-91.22 357.81L-59.55 495.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-91.22 357.81L81.07 401.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-91.22 357.81L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-91.22 357.81L190.36 351.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-91.22 357.81L-67.62 670.01' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-91.22 357.81L224.22 494.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-59.55 495.95L-59.55 495.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-59.55 495.95L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-59.55 495.95L81.07 401.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-59.55 495.95L-67.62 670.01' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-59.55 495.95L47.88 673.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.62 670.01L-67.62 670.01' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.62 670.01L47.88 673.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.62 670.01L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M81.07 401.08L81.07 401.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M81.07 401.08L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M81.07 401.08L190.36 351.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M81.07 401.08L224.22 494.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M81.07 401.08L47.88 673.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M74.74 489.86L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M47.88 673.29L47.88 673.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M47.88 673.29L204.64 708.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M47.88 673.29L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M47.88 673.29L224.22 494.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M190.36 351.58L190.36 351.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M190.36 351.58L224.22 494.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M190.36 351.58L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M224.22 494.13L224.22 494.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M224.22 494.13L74.74 489.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M204.64 708.64L204.64 708.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M204.64 708.64L386.72 705.18' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.5 370.99L377.5 370.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.5 370.99L524.13 388.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.5 370.99L380.34 554.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.5 370.99L190.36 351.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M380.34 554.94L380.34 554.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M380.34 554.94L386.72 705.18' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M380.34 554.94L511.33 645.51' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M380.34 554.94L224.22 494.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M386.72 705.18L386.72 705.18' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M386.72 705.18L511.33 645.51' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M524.13 388.94L524.13 388.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M524.13 388.94L562.42 494.38' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M524.13 388.94L647.92 375.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M562.42 494.38L562.42 494.38' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M562.42 494.38L671.28 516.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M562.42 494.38L647.92 375.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M562.42 494.38L511.33 645.51' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M511.33 645.51L511.33 645.51' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M511.33 645.51L642.58 687.87' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M676.97 241.61L676.97 241.61' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M676.97 241.61L647.92 375.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M647.92 375.94L647.92 375.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M647.92 375.94L671.28 516.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M671.28 516.39L671.28 516.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M671.28 516.39L821.53 543.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M671.28 516.39L642.58 687.87' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M671.28 516.39L806.1 395.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M671.28 516.39L524.13 388.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M642.58 687.87L642.58 687.87' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M642.58 687.87L850.55 684.67' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M642.58 687.87L562.42 494.38' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M642.58 687.87L821.53 543.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M642.58 687.87L386.72 705.18' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M816.42 262.48L816.42 262.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M816.42 262.48L806.1 395.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M816.42 262.48L676.97 241.61' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M816.42 262.48L988.12 244.03' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M816.42 262.48L647.92 375.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M806.1 395.72L806.1 395.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M806.1 395.72L821.53 543.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M806.1 395.72L647.92 375.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M806.1 395.72L1000.17 369.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M821.53 543.48L821.53 543.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M821.53 543.48L850.55 684.67' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M850.55 684.67L850.55 684.67' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M850.55 684.67L941.52 654.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M990.9 -108.41L990.9 -108.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M990.9 -108.41L1104.27 -55.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M990.9 -108.41L999.03 84.63' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M990.9 -108.41L1135.88 62.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M990.9 -108.41L1292.89 -75.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.03 84.63L999.03 84.63' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.03 84.63L1135.88 62.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.03 84.63L1107.3 194.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.03 84.63L988.12 244.03' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M999.03 84.63L1104.27 -55.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.12 244.03L988.12 244.03' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.12 244.03L1000.17 369.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.12 244.03L1107.3 194.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M988.12 244.03L1117.79 352.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1000.17 369.47L1000.17 369.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1000.17 369.47L1117.79 352.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1000.17 369.47L984.69 493.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M984.69 493.55L984.69 493.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M984.69 493.55L1140.87 514.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M984.69 493.55L941.52 654.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M984.69 493.55L821.53 543.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M984.69 493.55L1117.79 352.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M984.69 493.55L1098.1 652.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M941.52 654.83L941.52 654.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M941.52 654.83L1098.1 652.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M941.52 654.83L821.53 543.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.27 -55.95L1104.27 -55.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.27 -55.95L1135.88 62.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.27 -55.95L1292.89 -75.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.27 -55.95L1299.58 94.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.27 -55.95L1107.3 194.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1135.88 62.68L1135.88 62.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1135.88 62.68L1107.3 194.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1135.88 62.68L1299.58 94.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1135.88 62.68L1276.74 195.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1107.3 194.8L1107.3 194.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1107.3 194.8L1117.79 352.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1117.79 352.47L1117.79 352.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1117.79 352.47L1253.66 359.37' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1117.79 352.47L1140.87 514.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1140.87 514.19L1140.87 514.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1140.87 514.19L1098.1 652.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1140.87 514.19L1282.21 555.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1098.1 652.14L1098.1 652.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1292.89 -75.92L1292.89 -75.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1292.89 -75.92L1444.94 -68.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1292.89 -75.92L1299.58 94.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1292.89 -75.92L1135.88 62.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1292.89 -75.92L1408.9 107.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1292.89 -75.92L1548.56 -97.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1299.58 94.89L1299.58 94.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1299.58 94.89L1276.74 195.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1299.58 94.89L1408.9 107.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1276.74 195.86L1276.74 195.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1276.74 195.86L1414.95 209.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.66 359.37L1253.66 359.37' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.66 359.37L1276.74 195.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.66 359.37L1140.87 514.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.66 359.37L1445.17 393.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.21 555.48L1282.21 555.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.21 555.48L1284.01 678.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.01 678.32L1284.01 678.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.01 678.32L1422.35 656.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.01 678.32L1098.1 652.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.01 678.32L1140.87 514.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.01 678.32L1442.03 498.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.01 678.32L1568.51 533.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1444.94 -68.99L1444.94 -68.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1444.94 -68.99L1548.56 -97.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.9 107.19L1408.9 107.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.9 107.19L1414.95 209.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.9 107.19L1276.74 195.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.9 107.19L1584.27 72.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.95 209.17L1414.95 209.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.95 209.17L1299.58 94.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.95 209.17L1593.28 233.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.95 209.17L1445.17 393.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.95 209.17L1584.27 72.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.17 393.99L1445.17 393.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.17 393.99L1541.88 392.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.17 393.99L1442.03 498.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.17 393.99L1568.51 533.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 498.95L1442.03 498.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 498.95L1568.51 533.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 498.95L1541.88 392.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 498.95L1422.35 656.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.35 656.39L1422.35 656.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.35 656.39L1282.21 555.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.35 656.39L1612.19 638.34' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.35 656.39L1568.51 533.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.35 656.39L1445.17 393.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1548.56 -97.88L1548.56 -97.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1548.56 -97.88L1584.27 72.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1548.56 -97.88L1408.9 107.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1548.56 -97.88L1299.58 94.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1548.56 -97.88L1593.28 233.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1584.27 72.95L1584.27 72.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1584.27 72.95L1593.28 233.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1584.27 72.95L1444.94 -68.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1593.28 233.64L1593.28 233.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1593.28 233.64L1541.88 392.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1541.88 392.8L1541.88 392.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1541.88 392.8L1568.51 533.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1541.88 392.8L1414.95 209.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1541.88 392.8L1612.19 638.34' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1568.51 533.42L1568.51 533.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1568.51 533.42L1612.19 638.34' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1612.19 638.34L1612.19 638.34' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1612.19 638.34L1442.03 498.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='5' cx='-91.22' cy='357.81' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-59.55' cy='495.95' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-67.62' cy='670.01' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='81.07' cy='401.08' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='74.74' cy='489.86' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='47.88' cy='673.29' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='190.36' cy='351.58' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='224.22' cy='494.13' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='204.64' cy='708.64' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='377.5' cy='370.99' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='380.34' cy='554.94' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='386.72' cy='705.18' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='524.13' cy='388.94' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='562.42' cy='494.38' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='511.33' cy='645.51' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='676.97' cy='241.61' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='647.92' cy='375.94' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='671.28' cy='516.39' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='642.58' cy='687.87' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='816.42' cy='262.48' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='806.1' cy='395.72' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='821.53' cy='543.48' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='850.55' cy='684.67' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='990.9' cy='-108.41' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='999.03' cy='84.63' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='988.12' cy='244.03' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1000.17' cy='369.47' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='984.69' cy='493.55' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='941.52' cy='654.83' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1104.27' cy='-55.95' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1135.88' cy='62.68' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1107.3' cy='194.8' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1117.79' cy='352.47' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1140.87' cy='514.19' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1098.1' cy='652.14' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1292.89' cy='-75.92' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1299.58' cy='94.89' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1276.74' cy='195.86' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1253.66' cy='359.37' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1282.21' cy='555.48' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1284.01' cy='678.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1444.94' cy='-68.99' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1408.9' cy='107.19' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1414.95' cy='209.17' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1445.17' cy='393.99' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1442.03' cy='498.95' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1422.35' cy='656.39' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1548.56' cy='-97.88' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1584.27' cy='72.95' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1593.28' cy='233.64' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1541.88' cy='392.8' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1568.51' cy='533.42' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1612.19' cy='638.34' fill='%23132e65'%3e%3c/circle%3e%3cpath d='M685.62 520.13L685.62 520.13' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.62 520.13L799.16 547.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.62 520.13L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.62 520.13L669.34 380.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.62 520.13L802.52 646.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.62 520.13L559.14 399.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.16 547.74L799.16 547.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.16 547.74L802.52 646.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.16 547.74L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.16 547.74L840.16 369.32' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.16 547.74L1002.68 520.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.16 547.74L669.34 380.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.52 646.16L802.52 646.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.52 646.16L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.52 646.16L975.97 675.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.52 646.16L1002.68 520.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.52 646.16L840.16 369.32' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1271.36 706.45' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1395.26 658.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1127.16 643.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1121.95 559.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1309.32 495.53' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1414.23 516.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1271.36 706.45L1553.18 672.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1608.05 80.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1591.81 225.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1566.31 -90.97' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1422.77 105.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1441.01 261.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1408.74 -76.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.05 80.73L1582.33 339.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L-83.68 516.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L60.82 491.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L-71.91 683.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L73.25 674' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L231.55 534.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L396.55 519.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-83.68 516.73L385.93 712.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-71.91 683.71L-71.91 683.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-71.91 683.71L73.25 674' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-71.91 683.71L60.82 491.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-71.91 683.71L231.55 534.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-71.91 683.71L385.93 712.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-71.91 683.71L396.55 519.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M60.82 491.65L60.82 491.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M60.82 491.65L231.55 534.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M60.82 491.65L73.25 674' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M73.25 674L73.25 674' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M73.25 674L231.55 534.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M231.55 534.7L231.55 534.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M231.55 534.7L396.55 519.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M231.55 534.7L385.93 712.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M231.55 534.7L493.86 658.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M396.55 519.57L396.55 519.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M396.55 519.57L493.86 658.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M396.55 519.57L385.93 712.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M396.55 519.57L559.14 399.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M385.93 712.07L385.93 712.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M385.93 712.07L493.86 658.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M385.93 712.07L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M559.14 399.74L559.14 399.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M559.14 399.74L669.34 380.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M493.86 658.35L493.86 658.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M493.86 658.35L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M669.34 380.8L669.34 380.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M669.34 380.8L840.16 369.32' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M669.34 380.8L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M669.34 380.8L802.52 646.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M665.24 653.93L665.24 653.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M840.16 369.32L840.16 369.32' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M840.16 369.32L992.77 377.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M992.77 377.04L992.77 377.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M992.77 377.04L1118.42 392.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M992.77 377.04L1002.68 520.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M992.77 377.04L1161.82 257.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M992.77 377.04L1121.95 559.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M992.77 377.04L799.16 547.74' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1002.68 520.73L1002.68 520.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1002.68 520.73L1121.95 559.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1002.68 520.73L975.97 675.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M975.97 675.48L975.97 675.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M975.97 675.48L1127.16 643.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.82 257.62L1161.82 257.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.82 257.62L1118.42 392.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.82 257.62L1307.83 241' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1161.82 257.62L1253.35 393.96' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1118.42 392.3L1118.42 392.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1118.42 392.3L1253.35 393.96' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.95 559.75L1121.95 559.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.95 559.75L1127.16 643.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1121.95 559.75L1118.42 392.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.16 643.27L1127.16 643.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.16 643.27L1002.68 520.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1252.29 110.54L1252.29 110.54' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1252.29 110.54L1307.83 241' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1252.29 110.54L1422.77 105.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1252.29 110.54L1161.82 257.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1252.29 110.54L1441.01 261.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1307.83 241L1307.83 241' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1307.83 241L1441.01 261.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.35 393.96L1253.35 393.96' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.35 393.96L1309.32 495.53' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1253.35 393.96L1307.83 241' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.32 495.53L1309.32 495.53' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.32 495.53L1414.23 516.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.74 -76.71L1408.74 -76.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.74 -76.71L1566.31 -90.97' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.74 -76.71L1422.77 105.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.74 -76.71L1252.29 110.54' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.74 -76.71L1307.83 241' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1408.74 -76.71L1441.01 261.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.77 105.3L1422.77 105.3' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.77 105.3L1441.01 261.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.77 105.3L1307.83 241' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1422.77 105.3L1591.81 225.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.01 261.21L1441.01 261.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.01 261.21L1459.91 354.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.01 261.21L1591.81 225.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.01 261.21L1582.33 339.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1459.91 354.7L1459.91 354.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1459.91 354.7L1582.33 339.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1459.91 354.7L1414.23 516.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.23 516.09L1414.23 516.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.23 516.09L1395.26 658.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1414.23 516.09L1575.38 529.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.26 658.77L1395.26 658.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.26 658.77L1553.18 672.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1395.26 658.77L1309.32 495.53' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1566.31 -90.97L1566.31 -90.97' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1591.81 225.87L1591.81 225.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1591.81 225.87L1582.33 339.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1582.33 339.07L1582.33 339.07' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1582.33 339.07L1575.38 529.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1582.33 339.07L1414.23 516.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1575.38 529.19L1575.38 529.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1575.38 529.19L1553.18 672.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1553.18 672.5L1553.18 672.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1553.18 672.5L1414.23 516.09' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1553.18 672.5L1309.32 495.53' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1553.18 672.5L1459.91 354.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='25' cx='685.62' cy='520.13' fill='url(%26quot%3b%23SvgjsRadialGradient1039%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='799.16' cy='547.74' fill='url(%26quot%3b%23SvgjsRadialGradient1039%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='802.52' cy='646.16' fill='url(%26quot%3b%23SvgjsRadialGradient1039%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1271.36' cy='706.45' fill='url(%26quot%3b%23SvgjsRadialGradient1039%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1608.05' cy='80.73' fill='url(%26quot%3b%23SvgjsRadialGradient1039%26quot%3b)'%3e%3c/circle%3e%3ccircle r='5' cx='-83.68' cy='516.73' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='-71.91' cy='683.71' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='60.82' cy='491.65' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='73.25' cy='674' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='231.55' cy='534.7' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='396.55' cy='519.57' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='385.93' cy='712.07' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='559.14' cy='399.74' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='493.86' cy='658.35' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='669.34' cy='380.8' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='665.24' cy='653.93' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='840.16' cy='369.32' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='992.77' cy='377.04' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1002.68' cy='520.73' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='975.97' cy='675.48' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1161.82' cy='257.62' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1118.42' cy='392.3' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1121.95' cy='559.75' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1127.16' cy='643.27' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1252.29' cy='110.54' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1307.83' cy='241' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1253.35' cy='393.96' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1309.32' cy='495.53' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1408.74' cy='-76.71' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1422.77' cy='105.3' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1441.01' cy='261.21' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1459.91' cy='354.7' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1414.23' cy='516.09' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1395.26' cy='658.77' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1566.31' cy='-90.97' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1591.81' cy='225.87' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1582.33' cy='339.07' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1575.38' cy='529.19' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1553.18' cy='672.5' fill='%238b9ad9'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1500' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient id='SvgjsRadialGradient1039'%3e%3cstop stop-color='white' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%231735b3' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(23%2c 53%2c 179%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  min-height: 500px;

  color: white;
}