---
import CTAButtons from "../components/CTAButtons.astro";
import PricingFeature from "../components/PricingFeature.astro";
import { config } from "../config";
import SiteLayout from "../layouts/BaseLayout.astro";

const title = "Pricing | ThreadScribe.ai";
const description =
  "The best AI powered chatbot for consumer experience teams. We have a pricing plan for all teams, no matter what size.";
---

<SiteLayout title={title} description={description}>
  <section class="ts-hero">
    <div class="container">
      <div class="d-flex justify-content-center text-center">
        <div class="col-12 col-lg-10">
          <div class="eyebrow">ThreadScribe Pricing</div>
          <h1>
            AI-powered solutions for customer-centric teams.<br />
            <span class="glow">Start for free.</span>
          </h1>
          <h2>ThreadScribe offers straight forward for CX teams that mean business.</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing py-5">
    <div class="container">
      <div class="row gy-5">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name"><i class="bi-emoji-smile"></i> Forever FREE</h5>
              <!-- <h6 class="plan-description">
                AI-chat companion for Slack. Instantly summarize lengthly threads and uncover
                insights, fast!
              </h6> -->
              <div class="d-flex align-items-center">
                <p class="price">$0</p>
                <p class="price-details align-middle">Free as in beer</p>
              </div>
              <hr />
              <a class="btn btn-lg btn-outline-primary" href={config.threadScribe.appHome}
                >Start free</a
              >
              <hr />

              <span class="plan-features-header">All accounts include:</span>
              <ul class="list-unstyled">
                <PricingFeature text="50 queries per month" />
                <PricingFeature text="Single copilot " />

                <PricingFeature text="Basic data sources (Slack and URLs)" />
                <PricingFeature text="Slack automations" />
                <PricingFeature text="Help center & Slack/Email support" />
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name"><i class="bi-universal-access"></i> Essentials</h5>
              <!-- <h6 class="plan-description">
                AI-chat companion for Slack. Instantly summarize lengthly threads and uncover
                insights, fast!
              </h6> -->
              <div class="d-flex align-items-center">
                <p class="price">$29.99</p>
                <p class="price-details align-middle">/ month</p>
              </div>
              <hr />
              <a class="btn btn-lg btn-primary" href="https://buy.stripe.com/00g6q7dKv7YX0es4gg"
                >Get started</a
              >
              <hr />

              <span class="plan-features-header">Everything in Free, plus:</span>
              <ul class="list-unstyled">
                <PricingFeature text="200 queries per month" />
                <PricingFeature text="5 data sources" />
                <PricingFeature text="PDF & Notion integration" />
                <PricingFeature text="Premium Support & Dedicated Onboarding" />
              </ul>
            </div>
          </div>
        </div>

        <!-- BUSINESS PLAN -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name"><i class="bi-building"></i> Business</h5>
              <!-- <h6 class="plan-description">
                Build your own private consumer experience data hub with real-time indexing and
                search features.
              </h6> -->
              <div class="d-flex align-items-center">
                <p class="price">$99.99</p>
                <p class="price-details align-middle">/ month</p>
              </div>
              <hr />
              <a
                class="btn btn-outline-primary btn-lg"
                href="https://buy.stripe.com/5kAg0H8qba75d1e9AB">Get started</a
              >
              <hr />
              <div class="plan-features-header">Everything in Free, plus:</div>
              <ul class="list-unstyled">
                <PricingFeature text="1000 queries per month" />
                <PricingFeature text="Unlimited copilots" />
                <PricingFeature text="Custom AI model implementation" />
                <PricingFeature text="Automated channel digests" />
                <!-- <PricingFeature text="Scheduled channel summaries" /> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name"><i class="bi-buildings"></i> Enterprise</h5>
              <!-- <h6 class="plan-description">
                For organizations that want to leverage the power of AI at scale but need additional
                security, control, and support.
              </h6> -->
              <div class="d-flex align-items-center">
                <p class="price">
                  <i class="bi bi-chat-dots-fill"></i>
                </p>
                <p class="price-details">Contact sales for pricing or to request a demo</p>
              </div>
              <hr />
              <a class="btn btn-outline-primary btn-lg" href={config.bookingLink}>Contact sales</a>
              <hr />
              <div class="plan-features-header">Everything in Business, plus:</div>
              <ul class="list-unstyled">
                <PricingFeature text="Custom queries per month" />
                <!-- <PricingFeature text="Custom data sources" /> -->
                <PricingFeature text="Custom integration & webhooks" />
                <PricingFeature text="Real-time channel indexing" />
                <PricingFeature text="SLA and uptime commitment" />
                <!-- <PricingFeature text="Slack enterprise support" /> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5 mb-5 pricing-features">
    <div class="row pb-3">
      <div class="col">
        <h2>What's included</h2>
        <p>Get started with dozens of out of the box features.</p>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4">
      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-chat-dots-fill"></i>
        </div>

        <div class="feature-title">AI Chat Companion</div>
        <ul class="list-unstyled">
          <li>Ad-hoc thread summaries</li>
          <li>Automated digests</li>
          <li>Keyword notifications</li>
        </ul>
      </div>

      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-search"></i>
        </div>

        <div class="feature-title">Context Aware Search</div>
        <ul class="list-unstyled">
          <li>Globabl semantic search</li>
          <li>Search summaries</li>
          <li>Natural language processing</li>
        </ul>
      </div>

      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-file-earmark-lock"></i>
        </div>

        <div class="feature-title">Knowledge Base</div>
        <ul class="list-unstyled">
          <li>Bring your own data</li>
          <li>3rd party integrations</li>
          <li>Automatic ingestion</li>
        </ul>
      </div>

      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-building-up"></i>
        </div>

        <div class="feature-title">Enterprise Ready</div>
        <ul class="list-unstyled">
          <li>Dedicated CSM</li>
          <li>Data segregation</li>
          <li>SLA Commitment</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="ts-banner">
    <div class="container">
      <div class="row py-5 text-center">
        <div class="col">
          <h1 class="py-5">
            Get started <span class="glow">in minutes</span>
          </h1>

          <CTAButtons isDark="true" />
        </div>
      </div>
    </div>
  </section>
</SiteLayout>
