---
import SiteLayout from "../layouts/default.astro";

import { config } from "../config";
---
<style>
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}
h1, h2, h3 {
  text-transform: none;
}

p {
  font-size: 1rem;
  margin-bottom: 10px
}
</style>

<SiteLayout>
  <div class="container my-4">
    <div class="row">
      <div class="col">
        <h1>Privacy Policy</h1>
        <p class="text-muted">Effective Date: February 2, 2024</p>

        <p>Welcome to ThreadScribe! We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you use our Slack application, ThreadScribe.</p>
        <h2>Collection of Information</h2>
        <h3>Information You Provide to Us:</h3>
        <p>We collect information you provide directly to us when you install our Slack app, use our services, or communicate with us. This may include:</p>
        <ul>
          <li>Contact information (such as your email address and Slack user ID)</li>
          <li>Content you create, share, or interact with in Slack (such as messages or threads summarized by ThreadScribe)</li>
        </ul>

        <h3>Information Automatically Collected</h3>
        <p>When you use ThreadScribe, we may automatically collect certain information about your device and usage, including:</p>
        <ul>
          <li>Usage details (such as commands you execute within Slack)</li>
          <li>Device information</li>
          <li>Log files and usage data</li>
        </ul>

        <h2>Use of Information</h2>
        <p>We use the information we collect to:</p>

        <ul>
          <li>Provide, maintain, and improve ThreadScribe</li>
          <li>Respond to your requests, questions, and feedback</li>
          <li>Monitor and analyze trends, usage, and activities in connection with our services</li>
          <li>Detect, investigate, and prevent fraudulent transactions and other illegal activities and protect the rights and property of ThreadScribe and others</li>
        </ul>

        <h2>Data Retention</h2>
        <p>ThreadScribe retains personal data only for as long as necessary to provide the services requested by the user, 
          comply with our legal obligations, resolve disputes, and enforce our agreements. Data that is no longer needed for 
          any purposes stipulated in our Privacy Policy will be securely deleted or anonymized.</p>

        <h2>Deletion of Data</h2>
        <p>At ThreadScribe, we take your privacy seriiously. If you wish to have your personal data removed from our systems, you can do so by filling out 
          <a href="https://forms.gle/p7fqajkt5rgxHb1Q8">this form</a>. Upon request, your information will be purged from our systems within 72 hours.</p>

        <h2>Sharing of Information</h2>
        <p>We may share your information as follows:</p>
        <ul>
          <li>With vendors, consultants, and other service providers who need access to such information to carry out work on our behalf</li>
          <li>In response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation, or legal process</li>
          <li>Between and among ThreadScribe and our current and future parents, affiliates, subsidiaries, and other companies under common control and ownership</li>
        </ul>

        <h2>Your Choices</h2>
        <h3>Account Information:</h3>
        <p>You may review, update, or delete the information in your ThreadScribe account by logging into your account and updating your user profile.</p>

        <h3>Cookies</h3>
        <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies.</p>

        <h2>Security</h2>
        <p>We take reasonable measures to help protect information about you from loss, theft, misuse, unauthorized access, disclosure, alteration, and destruction.</p>

        <h2>Changes to This Privacy Policy</h2>
        <p>We may update this privacy policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, may provide you with additional notice (such as adding a statement to our website or sending you a notification).</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us at: hello@threadscribe.ai.</p>
      </div>
    </div> 
  </div>
</SiteLayout>