---
import SiteLayout from "../layouts/default.astro";
---

<style>
.support {
  margin-top: 250px;
  margin-bottom: 250px
}
@media (max-width: 992px) {
  .support {
    margin-top:100px
  }
}
</style>
<SiteLayout>
  <div class="container my-4">
    <div class="row">
      <div class="col support">
        <h1>Need Help?</h1>
        <h2><a href="https://threadscribeai.slack.com/">Join our Slack</a> OR email 
          us at <a href="mailto:hello@threadscribe.ai">hello@threadscribe.ai</a>.</h2>
      </div>
    </div> 
  </div>
</SiteLayout>