---
import { config } from "../config";

const { isDark } = Astro.props;
---

<div class="cta-buttons">
  <a href={config.threadScribe.appHome} class="btn btn-primary btn-lg">
    <i class="bi bi-stars"></i>
    Sign up for free
  </a>
  <a
    href={config.bookingLink}
    class=`btn btn-lg ${isDark ? "btn-outline-light" : "btn-outline-dark"}`
  >
    Schedule a demo
  </a>
  <div class="caption pt-3">
    <i class="bi bi-credit-card"></i> No credit card required | <i class="bi bi-clock-history"></i>
    14-day free trail
  </div>
</div>
