---
import { config } from "../config";

const { isDark } = Astro.props;

import nocc from "../images/nocc.png";
import start from "../images/start.png";
---

<div class="cta-buttons">
  <a href={config.threadScribe.appHome} class="btn btn-primary btn-lg">
    <i class="bi bi-stars"></i>
    Sign up for free
  </a>
  <a
    href={config.bookingLink}
    class=`btn btn-lg ${isDark ? "btn-outline-light" : "btn-outline-dark"}`
  >
    Schedule a demo
  </a>
  <div class="caption pt-3">
    <img class="img-fluid" src={nocc.src} /> No credit card required |
    <img class="img-fluid" src={start.src} /> Get started for FREE
  </div>
</div>
