---
import Logo from '../images/threadscribe_logo.png';

---

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src={Logo.src} width="24" height="24" />
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 ThreadScribe.ai</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.twitter.com/threadscribeai">
          <i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.facebook.com/threadscribeai">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <!-- <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <i class="bi bi-instagram"></i>
        </a>
      </li> -->
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.linkedin.com/company/threadscribeai">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>