---
import { config } from '../config';
import Logo from '../images/threadscribe_logo_64.jpg';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand fw-bold" href="https://www.threadscribe.ai">
      <span class="brand-logo">
        <img src={Logo.src} alt="Logo" class="d-inline-block align-text-top pr-5 img-circle img-thumbnail">
        <span class="ps-3 d-none d-md-block">ThreadScribe.ai</span>
      </span>
      
    </a>

    <button class="navbar-toggler" role="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class={(currentPath === "" ? "active" : "") + " nav-link"} aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class={(currentPath === "pricing" ? "active" : "") + " nav-link"} href="/pricing">Pricing</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href={config.threadScribe.appHome} class="btn btn-outline-secondary me-2">Log In</a>
        <a href={config.threadScribe.installLink} class="btn btn-primary">Install</a>
      </div>
    </div>
  </div>
  </div>
</nav>


