---
import Logo from '../images/threadscribe_logo.png';
---
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand col-lg-3 me-0" href="https://www.threadscribe.ai">
      <img src={Logo.src} alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      ThreadScribe.ai
    </a>

    <button class="navbar-toggler" role="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <div class="d-lg-flex col-lg-12 justify-content-lg-end">
        <a href="https://app.threadscribe.ai" class="btn btn-primary">Log In</a>
      </div>
    </div>
  </div>
</nav>