body {
  font-family: 'Roboto', sans-serif;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.cta {
  height: 300px;
  min-height: 300px;
}
 
.cta h3 {
  font-size:3em !important;
  font-weight: 700;
}