---
import Nav from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import ThreadScribeIcon from "../images/threadscribe_logo_512.jpg";
import "../styles/styles.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>ThreadScribe.ai</title>
    <meta
      content="ThreadScribe.ai is a powereful AI-powered chatbot for Slack designed to transform your Slack conversations into a structured, easily searchable knowledge base."
      name="description"
    />
    <meta content="threadscribe, slack, ai" name="keywords" />

    <!-- Favicons -->
    <link href="/threadscribe_head_square_64.png" rel="icon" />
    <link href={ThreadScribeIcon.src} rel="apple-touch-icon" />

    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-W46VHD5B");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W46VHD5B"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <Nav />

    <slot />

    <Footer />

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <script is:inline src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script is:inline src="/js/scripts.js"></script>

    <script
      is:inline
      async
      data-uid="ea6cb2891b"
      src="https://threadscribeai.ck.page/ea6cb2891b/index.js"></script>
  </body>
</html>
